/* Genel Css */

h3 {
    font-size: 18px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    color: #dc3545;
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

.btn-outline-danger {
    padding: 4px 30px;
    border-radius: 0 !important;
    cursor: pointer;
}





/*NAVBAR */

.navbar {
    border-bottom: #dc3545 3px solid;
}

.navbar .navbar-brand {
    color: #dc3545 !important;
    ;
    font-size: 24px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 1) !important;
}

.nav-link {
    color: #dc3545 !important;
    text-transform: uppercase;
    transition: color .5s ease;
}

.nav-link:hover {
    color: white !important;
}





/*HEADER */

#headerSection {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#headerSection .overlay {
    background-color: rgba(0, 0, 0, .7);
}

#headerSection .row {
    height: 100vh;
}

#headerSection span {
    color: #a29a9a !important;
}




/*FEATURES */

#features .fa {
    color: #dc3545;
    font-size: 40px;
}

.feature-top {
    transition: color .5s ease;
}

.feature-top:hover {
    color: #dc3545;
    cursor: pointer;
}




/*OUR HİSTORY*/

#ourHistory h2 {
    border-left: 6px solid #dc3545;
    padding-left: 30px;
}

#ourHistory .col-md-6 {
    display: inline;
}

#ourHistory .btn-outline-danger {
    position: absolute;
    bottom: 0;
}

#ourHistory p {
    line-height: 28px;
}



/*TEAM SECTİON*/

#team .card {
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

#team .card:hover {
    opacity: 1;
}

#team .fa {
    font-size: 24px;
}




/*WHAT WE DO ? */

#whatWeDo {
    background: linear-gradient( rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .7)),
    url(../img/ilya-pavlov-87438.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whatWeDo i {
    color: #dc3545;
}




/* CASE STUDY */

#caseStudy {
    background-color: #F5F6FA;
    line-height: 24px;
}

.caseArea {
    background-color: #fff;
    margin-top: 40px;
    margin-right: -40px;
    z-index: 100;
    padding: 40px;
    position: relative;
    min-height: 420px;
}

#caseStudy h3 {
    font-size: 18px;
    margin: 40px 0px;
}

#caseStudy .fa {
    font-size: 40px;
}

.caseImage {
    margin-left: -40px;
}


/* PORTFOLIO */

#portfolio .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#portfolio h4 {
    font-size: 16px;
    font-weight: 300;
}

#portfolio .fa {
    font-size: 24px;
    margin-bottom: 20px;
}

#portfolio p {
    font-size: 14px;
    font-weight: 300;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.imageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1886c7;
    opacity: 0;
    transition: 1s ease;
}

.imageContainer:hover .imageOverlay {
    opacity: .7;
}

.imageText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*TESTİMONIALS */

#testimonials {
    background: linear-gradient( rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .7)),
    url(../img/testimonials.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.quote {
    color: rgba(24, 134, 199, .6);
    margin-bottom: 30px;
}

.carousel-item img {
    opacity: .1;
}

.blockquote-footer {
    color: #1886c7;
}


/* CONTACT SECTİON */

#contact {
    background-color: f4f5f9;
}

#contact .input-group-addon {
    width: 50px;
    border-radius: 0;
    color: #fff;
    background-color: #1886c7;
}

#contact .form-control,
#contact .btn {
    border-radius: 0;
}


/* FOOTER SECTİON */

#main-footer {
    color: #fff;
    background-color: #000;
}


/* MEDİA QUERIES */

@media screen and (max-width:1200px) {
    #ourHistory p{
        line-height: 20px;
    }
}

@media screen and (max-width:992px) {
    .display-3 {
        font-size: 48px;
    }

    #ourHistory .btn{
        position: relative;
    }

    .historyLeft , .historyRight {
        text-align: center;
    }
}
 
@media screen and (max-width:768px) {
    .display-3 {
        font-size: 32px;
    }

    .caseImage{
        margin-left: 0;
        text-align: center;
    }

    .caseArea{
        margin-right: 0;
    }
}

@media screen and (max-width:576px) {}